@charset "UTF-8";
.partner-record{
padding-top:100px;
}
.partner-group{
    display: flex;
    justify-content: center;
    margin:0 auto;
  }
  .partner{
    flex-grow: 1;
    padding:5px;
    width:20px;
    list-style:none;
    border:solid 1px #CCC;
    text-align:center;
    cursor:pointer;
  }
  .record-group{
    border:solid 1px #CCC;
    border-top:none;
    background:#fff;
    border-radius:10px;
  }
  .record{
    display:none;
    text-align:center;

  }
  .partner.is-active{
    background: #6c757d;
    color:#FFF;
        border-bottom:solid 3px black;
  }
  .record.is-show{
    display:block;
  }

.regist_btn{
	margin-top:30px;
}