@charset "UTF-8";

.form {
    padding:0;
    text-align: center;
    height:auto;
}

.form h1{

	text-align: center;
}
form table{
    margin: 0 auto;
    text-align: center;
    height:auto;
}
form input {
	margin-top:10px;
	line-height: 50px;
    height: 30px;
}

.user_profile_button{
	width:10em;
	height: 30px;
	appearance: none;
	border: 0;
	border-radius: 30px;
	background: #413F42;
	color: #fff;
	font-size: 16px;
}