@charset "UTF-8";
dd{
	color:red;
}
head {
	color:red;
}
body {
  background-color: #F7F48B;
}
main {
    padding-top:50px;
    text-align: center;
    height :400px;
}

.countdown_weeks table{
    border-collapse: separate;
    margin:0 auto ;
    border-spacing: 100px 30px;
}
.countdown_weeks td{
    width: 300px;
    background-color: #DCD79F;
    border:solid #DCD79F;
    border-radius: 10px;
}

.labor {
    margin-bottom:50px;
    line-height: 3em;

}

.labor input{
	width:250px;
	position:absolute;
	left:50%;
	transform: translateX(-50%);
    line-height: 2.5em;
    font-size: 2em;
    padding:0 20px;
    border-radius: 70px;
    background-color: #D2DFF3;
}
.labor span{
    position: relative;
    left: 20%;
    line-height:2.5em;
    font-size: 2.5em;
}
.report_info {
    display: flex;
    height:300px;
    margin:0 auto;
    width: 800px;
}

.report_info img{
    height:80%;
    background-color: pink;
}
.report_text{
    width:600px;
}