@charset "UTF-8";


body{
      background-color: #FFFFFF;
      padding-top:50px; /*ヘッダーと被らないようにしてる*/
}

.scroller{
	margin:0 100px;
	border:solid #D2DFF3;
	height:380px;
	overflow-y:scroll;
}

.title{
	margin: 30px 20px 30px 40px;
	color: #5B93D1;
	font-size:25px;
}