@charset "UTF-8";

main {
	padding-top:50px; /*ヘッダーと被らないようにしてる*/
}

body{
      background-color: #FFFFFF;
      padding-top:50px; /*ヘッダーと被らないようにしてる*/
}

.genreitiran{
  font-size:25px;
  margin: 30px 20px 30px 40px;
}

span{
	height :10px;
}
.genre{
		border: solid 1px #DCD79F;
		padding: 10px;
		background-color: #D2DFF3;
		margin:10px;
		width:55%;
		margin:10px auto;
		border-radius: 5px;
	}
.genre a{
		text-decoration: none;
	}

.siro{
	width:80%;
	margin:0 auto;
	background-color:#FFF;
	}
