@charset "UTF-8";



body{
      background-color: #FFFFFF;
      padding-top:50px; /*ヘッダーと被らないようにしてる*/
}
.title{
	border: solid 1px #DCD79F;
		padding: 10px;
		background-color: #D2DFF3;
		margin:10px;
		width:70%;
		margin:5px auto;
		border-radius: 5px;
	}
.genreitiran{
  font-size:25px;
  margin: 20px 20px 0 40px;
  color:black;
}